#projectContainer {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	canvas {
		display: block;
	}

	.btn-back {
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
		bottom: 1rem;
		right: 1rem;
		left: unset;
	}
}
